body {
    background-color: whitesmoke;
}

#gif-buttons {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
}

button.btn-click {
    margin: .1em;
    background-color: #95bdcc;
    border-radius: .5em;
}

#user-input {
    margin-left: .5em;
    float: right;
    margin-right: 1em;
}

input#submit-btn {
    margin-top: .5em;
    margin: .1em;
    background-color: #95bdcc;
    border-radius: .5em;
}

img {
    margin: .5em;
}

#gif-section {
    margin-bottom: 5em;
}